[submodule "Packages/HPUI-Core"]
	path = Packages/HPUI-Core
	url = https://github.com/ovi-lab/HPUI-Core
[submodule "Packages/vicon-nexus-unity-stream"]
	path = Packages/vicon-nexus-unity-stream
	url = https://github.com/ovi-lab/vicon-nexus-unity-stream
[submodule "Packages/UXF-extensions"]
	path = Packages/UXF-extensions
	url = https://github.com/ovi-lab/UXF-extensions
[submodule "Assets/ThirdParty/SteeringWheelSDK/Unity-DirectInput"]
	path = Assets/ThirdParty/SteeringWheelSDK/Unity-DirectInput
	url = https://github.com/imDanoush/Unity-DirectInput/
[submodule "packages/Unity-DirectInput"]
	path = packages/Unity-DirectInput
	url = https://github.com/ovi-lab/Unity-DirectInput.git
